{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}

{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral listado-barra-lateral-cliente">
            <div>
                <li><a href="{% url 'pantalla_cliente' cliente.id %}">Pantalla principal</a></li>
                <li><a href="{% url 'solicitud_create' cliente.id %}">Nueva solicitud de proyecto</a></li>
                <li><a href="{% url 'cliente_update' cliente.id %}">Actualizar mis datos</a></li>
            </div>
            <div>
                <li><a href="">Dudas y preguntas</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="{% url 'pantalla_inicio' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
<h2>Area cliente</h2>
<div class="contenido">
    <div class="introduccion">
        <h3>EDITAR MIS DATOS:</h3>
        <p>En este apartado es posible actualizar vuestros datos. Para ello actualiza el siguiente formulario y pulse
        en "Actualizar"</p>
        <div class="contenido_interno">
            <form id="formulario" class="formulario" action="{% url 'cliente_update' cliente.id%}" method="post">
                {% csrf_token %}
                {{ formulario.errors }}
                <div class="contenido-formulario">
                    {{ formulario.nombre.label_tag }}
                    {{ formulario.nombre }}
                </div>
                <div class="contenido-formulario">
                    {{ formulario.telefono.label_tag }}
                    {{ formulario.telefono }}
                    <div id="error_telefono"></div>
                </div>
                <div class="contenido-formulario">
                    {{ formulario.email.label_tag }}
                    {{ formulario.email }}
                </div>
                <div class="contenido-formulario">
                    {{ formulario.direccion.label_tag }}
                    {{ formulario.direccion }}
                </div>
                <div class="contenido-formulario">
                    {{ formulario.usuario.label_tag }}
                    {{ formulario.usuario }}
                </div>
                <div class="contenido-formulario">
                    {{ formulario.contraseña.label_tag }}
                    {{ formulario.contraseña }}
                </div>
                <input id="boton-enviar" type="submit" class="añadir-button" value="Actualizar"/>
            </form>
        </div>

    </div>
</div>

<script src="/../static/js/validacionTLF.js"></script>
{% endblock %}