{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}

{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral listado-barra-lateral-cliente">
            <div>
                <li><a href="{% url 'pantalla_cliente' cliente.id %}">Pantalla principal</a></li>
                <li><a href="{% url 'solicitud_create' cliente.id %}">Nueva solicitud de proyecto</a></li>
                <li><a href="{% url 'cliente_update' cliente.id %}">Actualizar mis datos</a></li>
            </div>
            <div>
                <li><a href="{% url 'preguntas_frecuentes' cliente.id %}">Preguntas frecuentes</a></li>
                <li><a href="{% url 'contacto' cliente.id%}">Contacto</a></li>
                <li><a href="{% url 'pantalla_inicio' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
    <h2>Area contacto</h2>
<div class="contenido">
    <div class="introduccion">
        <h3>Hola {{ cliente.nombre }}👋</h3>
        <p> Bienvenido al área contacto, rellenando el siguinete formulario de contacto nos enviara un email con su
        consulta o duda especifica. La estudiaremos personalmente y nos pondremos en contacto con usted en la mayor
        brevedad posible.</p>
    </div>
    <div>
        <div class="contenido_interno">
            <h3>CONTACTO</h3>
            <form class="formulario" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="añadir-button">Enviar</button>
    </form>
        </div>
    </div>

    

</div>



{% endblock %}











