{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}

{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="{% url 'pantalla_responsable' empleado.id %}">Pantalla principal</a></li>
            </div>
            <div>
                <li><a href="">Dudas y preguntas</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="{% url 'login' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}
{% block main_contenido %}
    <h2>Area responsable</h2>

    {% if  empleado %}
        <ul>
            <li><h>Nombre: </h>{{ empleado.nombre }}</li>
            <li><h>Apellidos: </h>{{ empleado.apellidos }}</li>
            <li><h>DNI: </h>{{ empleado.dni }}</li>
            <li><h>Telefono: </h>{{ empleado.telefono }}</li>
            <li><h>email: </h>{{ empleado.email}}</li>
            <li><h>¿Responsable?: </h>{{ empleado.responsable }}</li>
        </ul>
    {% endif %}

{% endblock %}