{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}

{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="{% url 'pantalla_responsable' responsable.id %}">Pantalla principal</a></li>
                <li><a href="{% url 'empleado_create' responsable.id %}">Crear nuevo empleado</a></li>
                <li><a href="{% url 'proyectos_index' responsable.id %}">Ir a mis proyectos</a></li>
                <li><a href="{% url 'cliente_create' responsable.id %}">Añadir un nuevo cliente</a></li>
            </div>
            <div>
                <li><a href="{% url 'pantalla_inicio' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}
{% block main_contenido %}
    <h2>Area responsable</h2>
    <div class="contenido">
        <h3>DETALLES DEL EMPLEADO:</h3>
        {% if  empleado %}
        <table class="estilos-table">
    <tr>
        <td >Nombre:</td>
        <td>{{ empleado.nombre }}</td>
    </tr>
    <tr>
        <td>Apellidos:</td>
        <td>{{ empleado.apellidos }}</td>
    </tr>
    <tr>
        <td>DNI:</td>
        <td>{{ empleado.dni }}</td>
    </tr>
    <tr>
        <td>Telefono:</td>
        <td>{{ empleado.telefono }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ empleado.email }}</td>
    </tr>
    <tr>
        <td>Responsable:</td>
        <td>{% if empleado.responsable == 1 %}
                <p>Si</p>
            {% else %}
                <p>No</p>
            {% endif %}
        </td>
    </tr>
        
<button id="boton_tamano">Agrandar Letra</button>
<button id="boton_tamano_pequeno">Volver Tamaño normal</button>

        
</table>
    {% endif %}
    </div>
    
<script src="/../static/js/cambio_tamano_letra.js"></script>
{% endblock %}
