<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="content">
    <hi>Gestor de empleados</hi>
    <h2>Detalle del empleado</h2>

    {% if  empleado %}
        <ul>
            <li><h>Nombre: </h>{{ empleado.nombre }}</li>
            <li><h>Apellidos: </h>{{ empleado.apellidos }}</li>
            <li><h>DNI: </h>{{ empleado.dni }}</li>
            <li><h>Telefono: </h>{{ empleado.telefono }}</li>
            <li><h>email: </h>{{ empleado.email}}</li>
            <li><h>¿Responsable?: </h>{{ empleado.responsable }}</li>
        </ul>
    {% endif %}

    </div>
</body>
</html>