{% extends "base.html" %}

{% block main_contenido %}
    
    <hi>Gestor de empleados</hi>
    <h2>listado de empleados</h2>
        <li><a href="{% url 'empleado_create' %}">Crear empleado</a></li>


        {% if empleados %}
            <ul>
                {% for empleado in empleados %}
                    <li>
                        <a href="{% url 'empleado_detail' empleado.id %}">{{ empleado.nombre }}</a>
                        <form method="POST" action="{% url "empleado_delete" empleado.id%}">
                            {% csrf_token %}
                            <input type="submit" value="Eliminar">
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else  %}
            <p>no  hay empleados metidos en la base de datos</p>
        {% endif %}
    
    
    
    
{% endblock %}