{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}
{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="{% url 'pantalla_responsable' responsable.id %}">Pantalla principal</a></li>
                <li><a href="{% url 'proyectos_index' responsable.id %}">Gestionar proyectos</a></li>
                <li><a href="{% url 'gestion_empleados' responsable.id %}">Gestionar empleados</a></li>
                <li><a href="{% url 'gestion_clientes' responsable.id %}">Gestionar clientes</a></li>
                <li><a href="{% url 'gestion_tareas' responsable.id %}">Gestionar tareas</a></li>
                <li><a href="{% url 'gestion_solicitudes' responsable.id %}">Gestionar solicitudes</a></li>
            </div>
            <div>
                <li><a href="{% url 'pantalla_inicio' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}
{% block main_contenido %}
<h2>Area responsable</h2>

<div class="contenido">
    <div class="introduccion">
<h3>EMPLEADOS</h3>
    <p>Aquí puedes ver a todos tus empleados y crear nuevos empleados. Si quiere ver los detalles de dichos
            empleados pulse en "Ver detalles". Si quiere actualizar la información de alguno de los empleados pulse
            en "Actualizar empleado". En caso de querer dar de baja un empleado, pulse en "Dar de baja empleado".</p>
<div class="responsable-overflow">
<div class="contenido_interno">

            <table class="estilos-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Detalles</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                        {% if empleado.responsable == 0 %}
                            <tr>
                                <td>{{ empleado.nombre }}</td>
                                <td>{{ empleado.apellidos }}</td>
                                <td>{{ empleado.email }}</td>
                                <td>{{ empleado.telefono }}</td>
                                <td><a class="añadir-button"
                                       href="{% url 'empleado_detail' responsable.id empleado.id %}">Ver detalles</a></td>
                                <td><a class="añadir-button"
                                       href="{% url 'empleado_update' responsable.id empleado.id %}">Actualizar empleado</a></td>
                                <td><a href="{% url 'delete_empleado' responsable.id empleado.id %}"
                                       class="añadir-button">Dar de baja empleado</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <p>En caso de querer añadir un empleado nuevo a la plantilla, pulse en "Añadir nuevo empleado".</p>
    <button class="añadir-button">
        <a href="{% url 'empleado_create' responsable.id %}">Añadir un nuevo empleado</a>
    </button>
</div>
</div>
    </div>
{% endblock %}