{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}
{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="{% url 'pantalla_responsable' responsable.id %}">Pantalla principal</a></li>
                <li><a href="{% url 'proyectos_index' responsable.id %}">Gestionar proyectos</a></li>
                <li><a href="{% url 'gestion_empleados' responsable.id %}">Gestionar empleados</a></li>
                <li><a href="{% url 'gestion_clientes' responsable.id %}">Gestionar clientes</a></li>
                <li><a href="{% url 'gestion_tareas' responsable.id %}">Gestionar tareas</a></li>
                <li><a href="{% url 'gestion_solicitudes' responsable.id %}">Gestionar solicitudes</a></li>
            </div>
            <div>
                <li><a href="{% url 'pantalla_inicio' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}
{% block main_contenido %}
<h2>Area responsable</h2>

<div class="contenido">
    <div class="introduccion">
<h3>CLIENTES</h3>
        <p>Aquí podrá observar el listado de clientes actuales de la empresa. En caso de querer dar de baja algún
    cliente, pulse el botón "Dar de baja". En caso de querer añadir algún cliente, pulse en "Añadir un nuevo
    cliente".</p>
<div class="responsable-overflow">
<div class="contenido_interno">

    <table class="estilos-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.email }}</td>
                    <td><a href="{% url 'delete_cliente' responsable.id cliente.id %}"
                               class="añadir-button">Dar de baja</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="añadir-button">
        <a href="{% url 'cliente_create' responsable.id %}" class="boton-añadir">Añadir un nuevo cliente</a>
    </button>
</div>
</div>
</div>
</div>
{% endblock %}