{% extends "base.html" %}

{% block main_contenido %}
    <h2>Login</h2>
    <p>¡Bienvenido a desutoGes, tu herramienta integral para la gestión de proyectos en nuestra empresa!

    Estamos encantados de darte la bienvenida a bordo de desutoGes, donde la eficiencia y la colaboración se unen para impulsar el éxito de nuestros proyectos. Aquí, podrás organizar, supervisar y colaborar en todos los aspectos de tus proyectos de manera centralizada y efectiva.

    Para comenzar, te invitamos a identificarte. Por favor, ingresa tus credenciales para acceder a todas las funciones y herramientas que desutoGes tiene para ofrecer. Tu participación es fundamental para construir un entorno de trabajo más productivo y dinámico.</p>
    
    <div >
    <h3>Responsables</h3>
    <ul>
        {% for empleado in empleados %}
            {% if empleado.responsable == 1 %}
                <li><a href="{% url 'pantalla_responsable' empleado.id %}">{{ empleado.nombre }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <h3>Empleados</h3>
     <ul>
        {% for empleado in empleados %}
            {% if empleado.responsable == 0 %}
                <li><a href="{% url 'pantalla_empleado' empleado.id %}">{{ empleado.nombre }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <h3>Clientes</h3>
    <ul>
        {% for cliente in clientes %}
            <li><a href="{% url 'pantalla_cliente' cliente.id %}">{{ cliente.nombre }}</a></li>
        {% endfor %}
    </ul>
    </div>
    
{% endblock %}