{% extends "base.html" %}

{% block main_contenido %}
 <h2 class="titulo-login">Registro de clientes</h2>
<div class="cuadrado-login">
    <p>¡Bienvenido a deustoGes, tu herramienta integral para la gestión de proyectos en nuestra empresa!

    Estamos encantados de darte la bienvenida a bordo de deustoGes, donde la eficiencia y la colaboración se unen para impulsar el éxito de nuestros proyectos. Aquí, podrás organizar, supervisar y colaborar en todos los aspectos de tus proyectos de manera centralizada y efectiva.

    Para registrarte como cliente, rellena los siguientes datos. Tu participación es fundamental para construir un entorno de trabajo más productivo y dinámico.</p>

    <form action="{% url 'registro' %}">
        {% csrf_token %}
        <div>
            {{ formulario.username.label_tag }}
            {{ formulario.username }}
        </div>
        <div>
            {{ formulario.password1.label_tag }}
            {{ formulario.password1 }}
        </div>
        <div>
            {{ formulario.password2.label_tag }}
            {{ formulario.password2 }}
        </div>

        <button type="submit">Registrarse</button>
    </form>
</div>
<script src="/../static/js/validacionTLF.js"></script>
<script src="/../static/js/registro_cliente.js"></script>
{% endblock %}