{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}
{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="">Pantalla principal</a></li>
                <li><a href="{% url 'empleado_create' responsable.id %}">Crear nuevo empleado</a></li>
                <li><a href="{% url 'proyectos_index' responsable.id %}">Ir a mis proyectos</a></li>
                <li><a href="{% url 'cliente_create' responsable.id %}">Añadir un nuevo cliente</a></li>
            </div>
            <div>
                <li><a href="">Dudas y preguntas</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="{% url 'login' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
    <h2>Area responsable</h2>
<div class="contenido">
    <div class="introduccion">
        <h3>Hola {{ responsable.nombre }} 👋</h3>
    <p>Bienvenido al área responsable, aquí podrá observar el listado de empleados y gestionarlos,
    ir al apartado de sus proyectos, gestionar los clientes y observar las solicitudes pendientes
    que tiene de proyectos para posteriormente crear nuevos proyectos.</p>
    </div>

    <div class="responsable-overflow">
        <div class="contenido_interno">
            <h3>EMPLEADOS</h3>
            <p>Aquí puedes ver a todos tus empleados y crear nuevos empleados. Si quiere ver los detalles de dichos
            empleados pulse en "Ver detalles". Si quiere actualizar la información de alguno de los empleados pulse
            en "Actualizar empleado". En caso de querer dar de baja un empleado, pulse en "Dar de baja empleado".</p>
            <table class="estilos-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Detalles</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                        {% if empleado.responsable == 0 %}
                            <tr>
                                <td>{{ empleado.nombre }}</td>
                                <td>{{ empleado.apellidos }}</td>
                                <td>{{ empleado.email }}</td>
                                <td>{{ empleado.telefono }}</td>
                                <td><a href="{% url 'empleado_detail' responsable.id empleado.id %}">Ver detalles</a></td>
                                <td><a href="{% url 'empleado_update' responsable.id empleado.id %}">Actualizar empleado</a></td>
                                <td><a href="{% url 'delete_empleado' responsable.id empleado.id %}"
                                       class="añadir-button">Dar de baja empleado</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <button class="añadir-button">
                <a href="{% url 'empleado_create' responsable.id %}">Añadir un nuevo empleado</a>
            </button>
        </div>


        <div class="contenido_interno">
            <h3>MIS PROYECTOS</h3>
            <p>Para gestionar tus proyectos ve al siguiente enlace:</p>
            <button class="añadir-button">
            <a href="{% url 'proyectos_index' responsable.id %}">Ir a mis proyectos</a>
            </button>
        </div>



        <div class="contenido_interno">
            <h3>CLIENTES</h3>
            <p>Aquí podrá observar el listado de clientes actuales de la empresa. En caso de querer dar de baja algún
            cliente, pulse el botón "Dar de baja". En caso de querer añadir algún cliente, pulse en "Añadir un nuevo
            cliente".</p>
            <table class="estilos-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente.nombre }}</td>
                            <td>{{ cliente.direccion }}</td>
                            <td>{{ cliente.telefono }}</td>
                            <td>{{ cliente.email }}</td>
                            <td><a href="{% url 'delete_cliente' responsable.id cliente.id %}"
                                       class="añadir-button">Dar de baja</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="añadir-button">
                <a href="{% url 'cliente_create' responsable.id %}" class="boton-añadir">Añadir un nuevo cliente</a>
            </button>
        </div>
        <div class="contenido_interno">
            <h3>SOLICITUDES</h3>
            <p>Aquí podrá observar las solicitudes generadas por sus clientes. En caso que querer crear un proyecto
            a partir de una solicitud, pulse en "Crear proyecto".</p>
            <table class="estilos-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solicitud in solicitudes %}
                        <tr>
                            <td>{{ solicitud.titulo }}</td>
                            <td>{{ solicitud.descripcion }}</td>
                            <td>{{ solicitud.cliente }}</td>
                            <td><a href="{% url 'proyecto_create' responsable.id solicitud.id %}" class="añadir-button">
                                Crear proyecto</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    </div>
</div>


{% endblock %}