{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}
{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="">Pantalla principal</a></li>
                <li><a href="{% url 'empleado_create' responsable.id %}">Crear nuevo empleado</a></li>
                <li><a href="{% url 'proyecto_create' responsable.id %}">Gestionar solicitudes de proyectos</a></li>
                <li><a href="{% url 'cliente_create' responsable.id %}">Añadir un nuevo cliente</a></li>
            </div>
            <div>
                <li><a href="">Dudas y preguntas</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="{% url 'login' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
    <h2>Area responsable</h2>
<div class="contenido">
    <div class="introduccion">
        <h3>Hola {{ responsable.nombre }} 👋</h3>
    <p>Bienvenido al area responsable....</p>
    </div>

    <div class="responsable-overflow">
        <div class="contenido_interno">
            <h3>Empleados</h3>
            <p>Aqui puedes ver a todos tus empleados y crear nuevos empleados</p>
            <table class="estilos-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Detalles</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                        {% if empleado.responsable == 0 %}
                            <tr>
                                <td>{{ empleado.nombre }}</td>
                                <td>{{ empleado.apellidos }}</td>
                                <td>{{ empleado.email }}</td>
                                <td>{{ empleado.telefono }}</td>
                                <td><a href="{% url 'empleado_detail' responsable.id empleado.id %}">Ver detalles</a></td>
                                <td><a href="{% url 'empleado_update' responsable.id empleado.id %}">Actualizar empleado</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <button class="añadir-button">
                <a href="{% url 'empleado_create' responsable.id %}">Crear un nuevo empleado</a>
            </button>
        </div>


        <div class="contenido_interno">
            <h3>Mis proyectos</h3>
            <table class="estilos-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha_inicio</th>
                        <th>Fecha_fin</th>
                        <th>Presupuesto</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proyecto in proyectos %}
                        {% if responsable.id == proyecto.responsable_id %}
                            <tr>
                                <td>{{ proyecto.nombre }}</td>
                                <td>{{ proyecto.fecha_inicio }}</td>
                                <td>{{ proyecto.fecha_fin }}</td>
                                <td>{{ proyecto.presupuesto }}</td>
                                <td><a href="{% url 'proyecto_detail' responsable.id proyecto.id %}">Ver detalles</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>





        <div class="contenido_interno">
            <h3>Clientes</h3>
            <table class="estilos-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                        <tr>
                            <td>{{ cliente.nombre }}</td>
                            <td>{{ cliente.direccion }}</td>
                            <td>{{ cliente.telefono }}</td>
                            <td>{{ cliente.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="añadir-button">
                <a href="{% url 'cliente_create' responsable.id %}" class="boton-añadir">Añadir un nuevo cliente</a>
            </button>
        </div>
        <div class="contenido_interno">
            <h3>Solicitudes</h3>
            <table class="estilos-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Cliente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solicitud in solicitudes %}
                        <tr>
                            <td>{{ solicitud.titulo }}</td>
                            <td>{{ solicitud.descripcion }}</td>
                            <td>{{ solicitud.cliente }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="añadir-button">
                <a href="{% url 'proyecto_create' responsable.id %}">Crear proyecto</a>
            </button>
        </div>
    </div>
    </div>
</div>


{% endblock %}