{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}

{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="">Pantalla principal</a></li>
                <li><a href="">Nueva solicitud de proyecto</a></li>
                <li><a href="{% url 'cliente_update' cliente.id %}">Actualizar mis datos</a></li>
            </div>
            <div>
                <li><a href="">Dudas y preguntas</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="{% url 'login' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
    <h2>Area cliente</h2>
<div class="contenido">
    <div class="introduccion">
        <h3>Hola {{ cliente.nombre }}👋</h3>
        <p> Bienvenido al area cliente, aquí podrá realizar un seguimiento a todos sus proyectos, ver todos los detalles de
        cada proyecto y crear nueva solicitudes para llevar acabo un nuevo proyecto. </p>
    </div>
    <div class="responsable-overflow">
        <div class="contenido_interno">
        <h3>MIS PROYECTOS</h3>
        <p>Aqui tiene sus proyectos, si quieres mas informacion haga click en cualquiera de ellos y
            vera toodos los detalles</p>
        <table class="estilos-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Fecha de inicio</th>
              <th>Fecha de finalización</th>
              <th>Detalles</th>
            </tr>
          </thead>
          <tbody>
            {% for proyecto in proyectos %}
              {% if cliente.id == proyecto.cliente_id %}
                <tr>
                  <td>{{ proyecto.nombre }}</td>
                  <td>{{ proyecto.fecha_inicio }}</td>
                  <td>{{ proyecto.fecha_fin }}</td>
                  <td><a href="{% url 'proyecto_detail_cliente' cliente.id proyecto.id  %}">Ver detalles</a></td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="contenido_interno">
        <h3>SOLICITUD NUEVO PROYECTO</h3>
        <p>Quiere crear un nuevo proyecto con nosotros? Si es asi completa el siguiente formulario
        como petición de un proyecto. Te contestaremos lo ántes posible!</p>
        <button class="añadir-button"><a href="{% url 'solicitud_create' cliente.id %}">Nueva solicitud</a></button>


    </div>
    <div class="contenido_interno">
        <h3>MIS DATOS</h3>
        <p>Aqui puede ver cuales son los datos registrados por su empresa, en caso de haver cambabiado alguno de ellos
            no dudes a actualizarlo!</p>
        <table class="estilos-table">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>Email</th>
              <th>Direccion</th>
            </tr>
            </thead>
            <tbody>
                  <td>{{ cliente.nombre }}</td>
                  <td>{{ cliente.telefono }}</td>
                  <td>{{ cliente.email }}</td>
                  <td>{{ cliente.direccion }}</td>
            </tbody>

        </table>
        <button class="añadir-button">
            <a href="{% url 'cliente_update' cliente.id %}">Actualizar</a>
        </button>
        </div>
    </div>

    

</div>



{% endblock %}