{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}
{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral listado-barra-lateral-cliente">
            <div>
                <li><a href="{% url 'pantalla_cliente' cliente.id %}">Pantalla principal</a></li>
                <li><a href="{% url 'solicitud_create' cliente.id %}">Nueva solicitud de proyecto</a></li>
                <li><a href="{% url 'cliente_update' cliente.id %}">Actualizar mis datos</a></li>
            </div>
            <div>
                <li><a href="">Preguntas frecuentes</a></li>
                <li><a href="{% url 'contacto' cliente.id%}">Contacto</a></li>
                <li><a href="{% url 'pantalla_inicio' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
    <h2>Preguntas frecuentes</h2>
<div class="contenido">
    <div class="introduccion">
    <p>Bienvenido al área de preguntas frecuentes, aqui podras encontrar las respuestas mas comunes realizadas por los usuarios.
    En caso de no encontrar la respuesta en este apartado no dudes en contactar con nosotros.</p>
    </div>

    <div class="responsable-overflow">
        <div class="contenido_interno">
            <h3>¿Que puedo hacer desde el area cliente?</h3>
            <p>Desde el area cliente podemos visualizar nuestros proyectos, solictar la creacion de nuevos 
                proyectos mediante un formulario, ver y actualizar nuestros datos personales de la empresa. 
                Si no se le ha respondido o le ha quedado alguna duda no dude en ponerse en contacto con nosotros 
                a traves del apartado "Contacto".</p>
        </div>
        <div class="contenido_interno">
            <h3>¿Como puedo contactar con el responsable del proyecto para una duda?</h3>
            <p>Mediante el apartado de "Contacto" puede transmitirnos cualquier duda concreta que tenga. El funcionamiento 
            es el siguiente: al entrar al apartado "Contacto" debera rellenar un formulario donde se le pediara un 
            titulo de la consulta y una descripcion del problema, nos llegara via email su consulta y 
                la responderemos lo antes posible.</p>
        </div>
        <div class="contenido_interno">
            <h3>¿Que pasa si cambian mis datos de la empresa?</h3>
            <p>En caso de querer actualizar sus datos debera ir al area cliente y en ella ir al actualizar mis datos. En 
                el podra actualizar los datos que usted quiera, una vez cambaidos no olvide de darle al boton para que 
                se guarden!.Si no se le ha respondido o le ha quedado alguna duda no dude en ponerse en contacto con nosotros 
                a traves del apartado "Contacto".</p>
        </div>
        <div class="contenido_interno">
            <h3>¿Que datos se exigen para crear un nuevo proyecto?</h3>
            <p>Debera de rellenar el formulario de solicitud de nuevo proyecto donde se le pedira un titulo, una 
                descripcion y que se identifique en nombre de la empresa. Una vez solicitado nuestro equipo de empleados 
            se pondran en contacto.Si no se le ha respondido o le ha quedado alguna duda no dude en ponerse en contacto con nosotros 
                a traves del apartado "Contacto".</p>
        </div>

    </div>
    </div>
</div>


{% endblock %}