{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}

{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="{% url 'pantalla_responsable' responsable.id %}">Pantalla principal</a></li>
                <li><a href="{% url 'empleado_create' responsable.id %}">Crear nuevo empleado</a></li>
                <li><a href="{% url 'proyectos_index' responsable.id %}">Ir a mis proyectos</a></li>
                <li><a href="{% url 'cliente_create' responsable.id %}">Añadir un nuevo cliente</a></li>
            </div>
            <div>
                <li><a href="">Dudas y preguntas</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="{% url 'pantalla_inicio' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
    <h2>Area responsable</h2>
    <div class="contenido">
        <h3>DETALLE DEL PROYECTO:</h3>
        <p>Aquí esta la información sobre su proyecto:</p>
        {% if  proyecto %}
            <table class="estilos-table">
                <tr>
                    <td>Nombre:</td>
                    <td>{{ proyecto.nombre }}</td>
                </tr>
                <tr>
                    <td>Descripción:</td>
                    <td>{{ proyecto.descripcion }}</td>
                </tr>
                <tr>
                    <td>Fecha de inicio:</td>
                    <td>{{ proyecto.fecha_inicio }}</td>
                </tr>
                <tr>
                    <td>Fecha de finalización:</td>
                    <td>{{ proyecto.fecha_fin }}</td>
                </tr>
                <tr>
                    <td>Presupuesto:</td>
                    <td>{{ proyecto.presupuesto }}</td>
                </tr>
                <tr>
                    <td>Tareas:</td>
                    <td>
                    {% if proyecto.id == tabla_intermedia.proyecto_id %}
                    <p>hola</p>
                    {% endif %}
                    </td>
                    <td><a href="{% url 'tarea_create'  responsable.id  %}" class="añadir-button">Nueva Tarea</a></td>
                </tr>
                <tr>
                    <td>El responsable del proyecto es:</td>
                    <td>{{ proyecto.responsable }}</td>
                </tr>
                <tr>
                    <td>El cliente es:</td>
                    <td>{{ proyecto.cliente }}</td>
                </tr>
            </table>
        {% endif %}
    </div>
    
    
{% endblock %}
