{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}

{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="{% url 'pantalla_responsable' responsable.id %}">Pantalla principal</a></li>
                <li><a href="{% url 'proyectos_index' responsable.id %}">Gestionar proyectos</a></li>
                <li><a href="{% url 'gestion_empleados' responsable.id %}">Gestionar empleados</a></li>
                <li><a href="{% url 'gestion_clientes' responsable.id %}">Gestionar clientes</a></li>
                <li><a href="{% url 'gestion_tareas' responsable.id %}">Gestionar tareas</a></li>
                <li><a href="{% url 'gestion_solicitudes' responsable.id %}">Gestionar solicitudes</a></li>
            </div>
            <div>
                <li><a href="{% url 'pantalla_inicio' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
    <h2>Area responsable</h2>
    <div class="contenido">
        <h3>DETALLE DEL PROYECTO:</h3>
        <p>Aquí esta la información sobre su proyecto:</p>
        {% if  proyecto %}
            <table class="estilos-table">
                <tr>
                    <td>Nombre:</td>
                    <td>{{ proyecto.nombre }}</td>
                </tr>
                <tr>
                    <td>Descripción:</td>
                    <td>{{ proyecto.descripcion }}</td>
                </tr>
                <tr>
                    <td>Fecha de inicio:</td>
                    <td>{{ proyecto.fecha_inicio }}</td>
                </tr>
                <tr>
                    <td>Fecha de finalización:</td>
                    <td>{{ proyecto.fecha_fin }}</td>
                </tr>
                <tr>
                    <td>Presupuesto:</td>
                    <td>{{ proyecto.presupuesto }}</td>
                </tr>
                <tr>
                    <td>Tareas:</td>
                    <td>
                    {% for tarea in tareas %}
                        {% if tarea.proyecto_id == proyecto.id %}
                        <a href="{% url 'tarea_update_responsable' responsable.id tarea.id %}"
                            class="enlace-tarea">{{ tarea.nombre }}</a>
                        {% endif %}
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>El responsable del proyecto es:</td>
                    <td>{{ proyecto.responsable }}</td>
                </tr>
                <tr>
                    <td>El cliente es:</td>
                    <td>{{ proyecto.cliente }}</td>
                </tr>
            </table>
        {% endif %}
        <p>En caso de querer añadir alguna nueva tarea a este proyecto, pulse en el botón "Crear nueva tarea" y
        asígnela directamente al proyecto.</p>
        <button class="añadir-button">
            <a href="{% url 'tarea_create'  responsable.id  %}">Nueva Tarea</a>
        </button>
    </div>
    
    
{% endblock %}
