{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}
{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="{% url 'pantalla_responsable' responsable.id %}">Pantalla principal</a></li>
                <li><a href="{% url 'empleado_create' responsable.id %}">Crear nuevo empleado</a></li>
                <li><a href="{% url 'proyectos_index' responsable.id %}">Ir a mis proyectos</a></li>
                <li><a href="{% url 'cliente_create' responsable.id %}">Añadir un nuevo cliente</a></li>
            </div>
            <div>
                <li><a href="{% url 'pantalla_inicio' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
    <h2>Area responsable</h2>
<div class="contenido">
    <div class="introduccion">
        <h3>MIS PROYECTOS</h3>
        <p>Aquí podrás observar una tabla con todos tus proyectos. Para ver los detalles de cada uno, pulsa en
            "Ver detalles". En caso de querer dar de baja alguno de los proyectos, pulse en "Dar de baja".</p>
        <div class="contenido_interno">
            <table class="estilos-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha_inicio</th>
                        <th>Fecha_fin</th>
                        <th>Presupuesto</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proyecto in proyectos %}
                        {% if responsable.id == proyecto.responsable_id %}
                            <tr>
                                <td>{{ proyecto.nombre }}</td>
                                <td>{{ proyecto.fecha_inicio }}</td>
                                <td>{{ proyecto.fecha_fin }}</td>
                                <td>{{ proyecto.presupuesto }}</td>
                                <td><a href="{% url 'proyecto_detail' responsable.id proyecto.id %}">Ver detalles</a></td>
                                <td><a href="{% url 'delete_proyecto' responsable.id proyecto.id %}"
                                       class="añadir-button">Dar de baja</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}