{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}

{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="{% url 'pantalla_responsable' responsable.id %}">Pantalla principal</a></li>
                <li><a href="{% url 'empleado_create' responsable.id %}">Crear nuevo empleado</a></li>
                <li><a href="{% url 'proyectos_index' responsable.id %}">Ir a mis proyectos</a></li>
                <li><a href="{% url 'cliente_create' responsable.id %}">Añadir un nuevo cliente</a></li>
            </div>
            <div>
                <li><a href="">Dudas y preguntas</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="{% url 'login' %}">Salir</a></li>
            </div>
        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
<h2>Area responsable</h2>
<div class="contenido">
    <div class="introduccion">
        <div>
            <p>Aquí tienes la solicitud realizada por {{solicitud.cliente}}. Más abajo puedes crear un nuevo
            proyecto con los datos de dicha solicitud.</p>
            <h3>Título del proyecto: {{solicitud.titulo}}</h3>
            <p><b>Descripción del proyecto:</b> {{solicitud.descripcion}}</p>
        </div>
    </div>
    <div class="contenido_interno">
        <div class="createproyecto-overflow">
            <h3>Crear un nuevo proyecto</h3>
            <div class="formulario">
                <form action="{% url 'proyecto_create' responsable.id solicitud.id %}" method="post">
                    {% csrf_token %}
                    {{ formulario.errors }}
                    {{ formulario.as_p }}
                    <input type="submit" class="añadir-button" value="Nuevo proyecto"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}