{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}

{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral listado-barra-lateral-cliente">
            <div>
                <li><a href="{% url 'pantalla_cliente' cliente.id %}">Pantalla principal</a></li>
                <li><a href="">Nueva solicitud de proyecto</a></li>
                <li><a href="{% url 'cliente_update' cliente.id %}">Actualizar mis datos</a></li>
            </div>
            <div>
                <li><a href="">Dudas y preguntas</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="{% url 'login' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
    <h2>Area cliente</h2>
<div class="contenido">
    <div class="introduccion">
        <h3>Hola {{ cliente.nombre }}👋</h3>
        <p>Rellene el siguiente formulario para crear una solicitud para un nuevo proyecto:</p>
    </div>
    <div class="contenido_interno">
        <h3>FORMULARIO SOLICITUD NUEVO PROYECTO:</h3>
        <form class="formulario" action="{% url 'solicitud_create' cliente.id %}" method="post">
            {% csrf_token %}
            {{ formulario.errors }}
            {{ formulario.as_p }}
        <input type="submit" class="añadir-button" value="Enviar solicitud"/>
        </form>
    </div>
</div>
{% endblock %}