{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="/../static/css/normalize.css">
    <link rel="stylesheet" href="/../static/css/style.css">
{% endblock %}

{% block nav_header %}
    <nav class="barra-lateral">
        <ul class="listado-barra-lateral">
            <div>
                <li><a href="{% url 'pantalla_empleado' empleado.id %}">Pantalla principal</a></li>
            </div>
            <div>
                <li><a href="{% url 'pantalla_inicio' %}">Salir</a></li>
            </div>

        </ul>
    </nav>
{% endblock %}

{% block main_contenido %}
    <h2>Area empleado</h2>
    <div class="contenido">
        <h3>DETALLES DE LA TAREA:</h3>
    <p>Aquí esta la informaión sobre su tarea {{ tarea.nombre }}:</p>

    {% if tarea %}
        <table class="estilos-table">
    <tr>
        <td>Nombre</td>
        <td>{{ tarea.nombre }}</td>
    </tr>
    <tr>
        <td>Descripción</td>
        <td>{{ tarea.descripcion }}</td>
    </tr>
    <tr>
        <td>Fecha de inicio</td>
        <td>{{ tarea.fecha_inicio }}</td>
    </tr>
    <tr>
        <td>Fecha de finalización</td>
        <td>{{ tarea.fecha_fin }}</td>
    </tr>
    <tr>
        <td>Prioridad</td>
        <td>{{ tarea.prioridad }}</td>
    </tr>
    <tr>
        <td>Estado</td>
        <td>{{ tarea.estado }}</td>
    </tr>
    <tr>
        <td>Notas adicionales</td>
        <td>{{tarea.notas_adicionales}}</td>
    </tr>
</table>
    {% endif %}
        <button class="añadir-button">
        <a href="{% url 'tarea_update' empleado.id tarea.id %}">Actualizar estado de la tarea</a>
        </button>

    </div>
{% endblock %}
