<!doctype html>
<html lang=es>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>DeustoGes</title>
</head>


<body>

    <header>
        <h1>DeustoGes</h1>
        <nav>
        {% block nav_header %}{% endblock %}
        </nav>
    </header>

    <main>
        {% block main_contenido %}{% endblock %}
    </main>
        
    <footer>
        <nav>
        {% block nav_footer %}{% endblock %}
        </nav>
    </footer>
</body>
</html>