html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.flex2{
    display: flex;
    flex-direction: column;
}


.fondo{
    background-color: #fcf8ea;
}

h1{
    text-align: center;
    font-size: 6rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: #bc6812;
}

h1 span{
    color: #d88818;
}

h2{
    margin-block:0;
    padding-block: 1.5rem;
    margin-left: 2rem;
    font-size: 3.5rem;
    width: 100%;
    color: rgba(0, 0, 0, 0.678);
}

h4{
    font-size: 2rem;
}

.titulo-login{
    margin-inline: 22rem;
}

.cuadrado-login{
    background-color: rgba(255, 149, 0, 0.49);
    margin-inline: 20rem;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 2rem;
}


.cuadrado-login p{
    font-size: 1.2rem;
}

.flex-login{
    display: flex;
    justify-content: space-around;
}

.flex-login h3{
    font-size: 2rem;
}

.flex-login a{
    font-size: 1.5rem;
    display: block;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
}

.flex-login a:hover{
    background-color: rgba(255, 148, 0, 0.87);
    color: white;
}

.flex-login li{
    background-color: rgba(216, 136, 24, 0.27);
    width: 20rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}



.barra-lateral{
    max-width: 15rem;
    background-color: rgba(252, 140, 24, 0.82);
    height: 100vh;
}

.listado-barra-lateral{
    display: grid;
    grid-template-rows: 80vh 20vh;
}


.listado-barra-lateral a{
    font-size: 1.5rem;
    color: white;
    display: block;
    padding: 1rem;
}

.listado-barra-lateral a:hover{
    background-color: rgb(255, 130, 0);

}

.contenido{
    padding: 1rem;
    margin-left: 1rem;
    width: 100rem;
    height: 43rem;
    background-color: rgba(255, 149, 0, 0.49);
    border-radius: 1rem;
}

.responsable-overflow{
    height: 35rem;
    overflow: scroll;
    overflow-x: hidden;
}


.introduccion{
    margin-inline: 2rem;
}

.contenido_interno{
    margin-inline: 1rem;
    padding: 1rem;
    background-color: rgba(216, 136, 24, 0.27);
    margin-block: 1rem;
    border-radius: 1rem;
}

.estilos-table {
  width: 100%;
  border-collapse: collapse;
}

.estilos-table th {
  background-color: rgba(252, 140, 24, 0.91);
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.estilos-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.estilos-table tr:nth-child(odd) {
  background-color: rgba(216, 136, 24, 0.27);
}

.estilos-table td a {
  text-decoration: none;
  color: black;
}
.añadir-button {
    background-color: rgba(252, 140, 24, 0.91);
    text-align: center;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.añadir-button:hover {
    background-color: #FFD700;
}

.formulario{
    margin-left: 5rem;
    font-size: 1.2rem;
}

.formulario label{
    display: block;
}

.formulario input{
    width: 20rem;
}