html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 1050px){
    .flex{
        flex-direction: column;
    }
}

.flex2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.fondo{
    background-color: #fcf8ea;
}

h1{
    text-align: center;
    font-size: 10vh;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #bc6812;
}

h1 span{
    color: #d88818;
}

h2{
    margin-block:0;
    padding-block: 1.5rem;
    margin-left: 2rem;
    font-size: 6vh;
    width: 100%;
    color: rgba(0, 0, 0, 0.678);
}



.titulo-login{
    margin-inline: 19vw;
}


.cuadrado-login{
    background-color: rgba(255, 149, 0, 0.49);
    margin-inline: 18vw;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 2rem;
}


.cuadrado-login p{
    font-size: 1.2rem;
}

.flex-login{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.flex-login h3{
    font-size: 2rem;
}

.flex-login a{
    font-size: 1.5rem;
    display: block;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
}

.flex-login a:hover{
    background-color: rgba(255, 148, 0, 0.87);
    color: white;
}

.flex-login li{
    background-color: rgba(216, 136, 24, 0.27);
    width: 20rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}



.barra-lateral{
    width: 12vw;
    background-color: rgba(252, 140, 24, 0.82);
    height: 100vh;
}

.listado-barra-lateral{
    display: grid;
    grid-template-rows: 93vh 7vh;
}


.listado-barra-lateral-cliente{
    grid-template-rows: 78vh 22vh;
}

.listado-barra-lateral a{
    font-size: 1.5rem;
    color: white;
    display: block;
    padding: 1rem;
}

@media (max-width: 1050px){
    .barra-lateral{
        width: 100%;
        height: fit-content;
    }
    .listado-barra-lateral{
        display: inline;
    }
    .listado-barra-lateral a{
        padding: 0.75rem;
        text-align: center;
    }
}


.listado-barra-lateral a:hover{
    background-color: rgb(255, 130, 0);
}

.contenido{
    padding: 1rem;
    margin-left: 1rem;
    width: 85vw;
    height: 73vh;
    background-color: rgba(255, 149, 0, 0.49);
    border-radius: 1rem;
}

@media (max-width: 1050px){
    .contenido{
        margin-right: 1rem;
        width: 95vw;
    }
}

.responsable-overflow{
    height: 35rem;
    overflow: scroll;
    overflow-x: hidden;
}

.createproyecto-overflow{
    height: 31rem;
    overflow: scroll;
    overflow-x: hidden;
}

.introduccion{
    margin-inline: 2rem;
}

.contenido_interno{
    margin-inline: 1rem;
    padding: 1rem;
    background-color: rgba(216, 136, 24, 0.27);
    margin-block: 1rem;
    border-radius: 1rem;
}


.estilos-table {
    width: 100%;
    border-collapse: collapse;
}

.estilos-table th {
  background-color: rgba(252, 140, 24, 0.91);
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.estilos-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.estilos-table tr:nth-child(odd) {
  background-color: rgba(216, 136, 24, 0.27);
}

.estilos-table td a {
  text-decoration: none;
  color: black;
}

.añadir-button {
    background-color: rgba(252, 140, 24, 0.91);
    text-align: center;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.añadir-button:hover {
    background-color: #FFD700;
}





.formulario{
    margin-left: 5rem;
    font-size: 1.2rem;
}


.formulario label{
    display: block;
}

.formulario input{
    width: 20rem;
}

.formulario ul, .formulario ol {
    list-style-type: none;
}

.contenido-formulario{
    padding-block: 0.5rem;
}

.error-contrasena{
    display: flex;
    flex-wrap: wrap;

}

.error-contrasena p{
    padding-inline: 1rem;
    flex-grow: 1;
    width: 20vw;
}